{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: green;">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="{% static 'assets/img/logo-nav.png' %}" height="60px" width="150px"  alt="gambar daun"></a>
    <button class="navbar-toggler" style="color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-dark" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
            {% if title == "beranda" %}
            <a class="nav-link active text-white-50" aria-current="page" href="{% url 'beranda' %}">Beranda</a>
            {% else %}
              <a class="nav-link text-white" aria-current="page" href="{% url 'beranda' %}">Beranda</a>
            {% endif %}
          </li>
          <li class="nav-item">
          {% if title == "informasi" %}
            <a class="nav-link text-white-50 active" aria-current="page" href="{% url 'informasi' %}">Informasi</a>
          {% else %}
            <a class="nav-link text-white" aria-current="page" href="{% url 'informasi' %}">Informasi</a>
          {% endif %}
          </li>
          <li class="nav-item">
          {% if title == "diagnosa" %}
            <a class="nav-link text-white-50 active" aria-current="page" href="{% url 'diagnosa' %}">Diagnosa Penyakit</a>
          {% else %}
            <a class="nav-link text-white" aria-current="page" href="{% url 'diagnosa' %}">Diagnosa Penyakit</a>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>