<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {% endblock title %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <script src="{% static 'assets/js/jquery.js' %}"></script>
</head>
<body>
    {% include 'snippet/nav.html' %}
    {% block content %}{% endblock content %}

    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>