/* position image preview */
.img-preview {
    width: 256px;
    height: 256px;
    position: center;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}
/* end */

/* tag input */
input[type="file"] {
    display: none;
}
/* end */

/* label upload */
.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: green;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: green;
}
/* end */

/* loader perdict */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* end */

/* style button upload-deteksi  */
.upload-deteksi{
    display: inline-block;
    padding: 10px 50px;
    background: green;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-deteksi:hover{
    background: #34495E;
    color: green;
}
/* end */

/* style button upload-hapus  */
.upload-hapus{
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    background: #900C3F;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-hapus:hover{
    background: #34495E;
    color: #900C3F;
}
/* end */

/* style button upload-selesai  */
.upload-selesai{
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    background: #1B7293;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-selesai:hover{
    background: #34495E;
    color: #1B7293;
}
/* end */

.btn-finish{
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    background: green;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.btn-finish:hover{
    background: #34495E;
    color: green;
}