{% extends "base/base.html" %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">

    <div class="col-sm-4">
      <img src="{{context.img.url}}" height="200px" width="300px"  alt="Gambar Daun"/>
    </div>

    <div class="col-sm-8">
          <img src="{% static 'assets/img/logo-beranda.png' %}" height="100px" width="150px"  alt="Gambar Daun" style="float:right">
          <br><br>
          <h2 class="mt-5">{{context.name}}</h2>
          <p>{{context.description}}</p>
    </div>

  </div>
</div>
{% endblock content %}