{% extends "base/base.html" %}

{% block title %}  {{title}} {% endblock %}

{% block content %}
<div class="container mt-5">
  <h3 style="color:green">Diagnosa Penyakit Daun Tomat</h3>
  <p class="mt-3 p-3">Silahkan input gambar yang akan dideteksi</p>
  <br><br>

<center>
  <form id="upload-file" class="mt-3" method="post" action="/diagnosa/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-image mt-5">
      <br><br><br>
      <label for="imageUpload" class="upload-label">
        Input Gambar
      </label>
      <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </div>

    <div class="image-section" style="display:none;">
      <div class="img-preview">
          <div id="imagePreview">
          </div>
      </div>
      <div>
          <button type="button" style="margin:5px;" class="upload-deteksi" id="btn-predict">Deteksi</button>
          <button type="button" style="margin:5px;" class="upload-hapus" onclick="window.location.replace('/diagnosa/');">Hapus</button>
          <button type="button" style="margin:5px; display:none;" class="upload-selesai" onclick="window.location.replace('/');">Selesai</button>
          <br>
      </div>
  </div>

  <div class="loader" style="display:none;"></div>

  <div class="row mt-5" style="display:none;">
    <div class="col" style="height: 75px; background-color: green;">
      <br>
      <h5 id="result" style="color: white ;"></h5>
      <br>
    </div>
  </div>

  </form>
</center>
</div>
{% endblock content %}