{% extends "base/base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 style="color:green">Daftar Penyakit Daun Tomat</h3>
    <div class="row row-cols-1 row-cols-md-5 g-4 mt-3">
      
      {% for leaf in leafs %}
        <div class="col">
          <div class="card">
            <center><h5 class="card-title" >{{leaf.name}}</h5></center>
            <a href="{% url 'informasi-detail' leaf.pk %}">
              <img src="{{leaf.img.url}}" class="card-img-top" alt="gambar daun">
            </a>
            </div>
        </div>
      {% endfor %}
        
      </div>
</div>
{% endblock content %}