{% extends "base/base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 style="color:green">Detail Penyakit Daun Tomat</h3>
    <div class="row mt-5">
        <div class="col-sm-4">
            <h4>{{leaf.name}}</h4>
          <img class="mt-3" src="{{leaf.img.url}}"  alt="gambar daun"/>
          <button type="button" style="width: 257px;" class="align-self-end mt-3 btn-finish" onclick="window.location.replace('/informasi');">Selesai</button>
        </div>
        <div class="col-sm-8 mt-5">
          <p>{{leaf.description}}</p>
        </div>
    </div>
</div>
{% endblock content %}